:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-black: #3C3C3C;
    --grey: #8B8B8B;
    --light-grey: #DEDEDE;
    --teal: #16DB99;
    --light-green: #ECFDF5;
    --dark-green: #065F46;
}

* {
    margin: 0;
    padding: 0;
    border: none;

    font-weight: 400;
}

body {
    width: 37.5rem;

    margin: 0 auto;

    border: 1px solid var(--light-grey);

    font-family: Smythe;
}

h2 {
    color: var(--black);
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    color: var(--grey);
    font-size: 1rem;
}

button {
    background: none;
}

button:hover {
    cursor: pointer;
}

.default-button {
    padding: 1.125rem 0;

    border-radius: 3px;

    background-color: var(--teal);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    text-shadow: 0 0 1px var(--black);
}

.default-button:hover {
    color: var(--black);
}

.default-button:active {
    scale: 99%;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


header {
    width: 37.5rem;
    height: 10.625rem;

    margin: 0 auto;

    background-image: url("./img/burger-header-background.jpg");
    background-size: cover;
    background-position-y: -150px;
    background-position-x: center;
}

main {
    padding: 2.875rem;
}

.header-text-container {
    padding: 2.7rem 0 0 2.7rem;
}

.title,
.slogan {
    color: var(--white);
}

.title {
    font-size: 2.5rem;
}

.slogan {
    font-size: 1.375rem;
}

.menu {
    margin-bottom: 2.875rem;
}

.item-card {
    height: 8.75rem;

    margin-top: 2.875rem;

    justify-content: space-between;

    border-bottom: 1px solid var(--light-grey);
}

.item {
    justify-content: space-around;

    gap: 1.5rem;
}

.item-icon {
    font-size: 5rem;
}

.item-data {
    gap: 0.5rem;
}

.item-add-button {
    width: 3.125rem;
    height: 3.125rem;

    border: 1.5px solid var(--light-grey);
    border-radius: 100%;

    font-family: serif;
    font-size: 2rem;
    font-weight: 200;
    color: var(--light-black);
}

.item-add-button:hover {
    color: var(--white);
    background-color: var(--black);
}

.item-add-button:active {
    scale: 105%;
}

.order {
    display: none;

    height: 20rem;

    padding-bottom: 2rem;

    gap: 3.5rem;
}

.order-header {
    text-align: center;
}

.selected-items {
    padding-bottom: 1.5rem;

    border-bottom: 2px solid var(--black);
}

.selected-item,
.total {
    justify-content: space-between;
    align-items: center;
}

.selected-item-remove-button {
    margin-left: 0.8rem;
    padding-top: 0.3rem;

    color: var(--grey);
}

.total {
    margin-top: 0.75rem;
}

.card-details-form-overlay {
    display: none;
    width: 100%;
    height: 100%;

    position: fixed;
    inset: 0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5)
}

.card-details-form-fieldset {
    width: 30rem;
    height: 30rem;

    padding: 1.5rem;

    justify-content: space-between;

    gap: 2.875rem;

    border-radius: 4px;

    background-color: var(--white);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-details-title {
    margin-top: 1.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.card-details-form-input-container {
    gap: 1.5rem;
}

.card-details-form-input-field {
    height: 4.5rem;

    border: 1.3px solid var(--grey);
    border-radius: 4px;

    font-size: 1.25rem;
    padding-left: 2rem;
    color: var(--black);
}

.card-details-form-pay-button {
    padding: 1.5rem 0;

    font-size: 1.5rem;
}

.thank-you-text {
    display: none;

    padding: 3.25rem;
    border-radius: 3px;
    background-color: var(--light-green);

    font-size: 2rem;
    color: var(--dark-green);
    text-shadow: 0 0 0.5px black;
    text-align: center;
}
